<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My testing clip - anyplay</title>
</head>

<body>
    <h1>My testing clip</h1>
    <ul>
        <li>Title: My testing clip</li>
        <li>Uploaded by janeDoe04 at 2022/02/02</li>
        <li>Duration: 3 Minutes, 4 seconds</li>
        <li>Views: 100</li>
        <li>Comments: 5</li>
        <li>15 likes, 100 dislikes</li>
    </ul>
    <audio src="/ambience.mp3" controls></audio>
    <hr />
    <button id="prev">Previous</button>
    <button id="play">Play</button>
    <button id="next">Next</button>
    <button id="share">Share</button>
    <button id="like">Like</button>
    <button id="dislike">Dislike</button>
    <hr />
    <h2>Comments</h2>
    <form>
        <input type="text" name="comment" id="comment" placeholder="Enter a comment" /><br />
        <input type="submit" value="Comment" />
    </form>
    <ul>
        <li>
            <h3>janeDoe04 commented</h3> I love this!
        </li>
        <li>
            <h3>Jon.1 commented</h3> I'm glad you did!
        </li>
        <li>
            <h3>ashleygrobler04 commented</h3> But I think this is the best!
        </li>
        <li>
            <h3>Dboy01 commented</h3> This is awesome.
        </li>
        <li>
            <h3>Nick commented</h3>Not the best but can still work.
        </li>
        <li>
            <h3>Andrew commented</h3>How did you do this?
        </li>
        <li>
            <h3>snakeFan commented</h3>Ah why did you even upload this. It sucks horribly!
        </li>
        <li>
            <h3>I commented</h3>I can do what I want to.
        </li>
        <li>
            <h3>testUser04 commented</h3>Testing 1... 2... 3...
        </li>
        <li>
            <h3>ashleygrobler04 commented</h3>Echo!
        </li>
    </ul>
</body>

</html>