<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign up</title>
</head>

<body>
    <h1>Create your account</h1>
    <form>
        <input type="text" name="firstName" id="firstName" placeholder="First name" /><br />
        <input type="text" name="lastName" id="lastName" placeholder="Last name" /><br />
        <input type="email" name="email" id="email" placeholder="Email address" /><br />
        <input type="password" name="password" id="password" placeholder="Enter a password" /><br />
        <input type="password" name="password" id="password" placeholder="Enter a password" /><br />
        <input type="text" name="userName" id="userName" placeholder="Enter a user name" /><br />
        <label for="consent">
            Are you ok with us using the data we collect from you?
        </label>
        <input type="checkbox" name="consent" id="consent" /><br />
        <input type="submit" value="Sign up" /><br />
    </form>
</body>

</html>