<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign in</title>
</head>

<body>
    <h1>Sign in to your account</h1>
    <p>If you have previously registered, sign in with your details.<br />If not, <a href="signup.html">Sign up</a>.</p>
    <form>
        <input type="text" name="user/mail" id="user/mail" placeholder="Enter your user name or emaill address" /><br />
        <input type="password" name="loginPassword" id="loginPassword" placeholder="Enter your password" /><br />
        <label for="remember">Remember my info on this browser?</label>
        <input type="checkbox" id="remember" name="remember" /><br />
        <a href="forgotPass">Forgot my password</a><br />
        <input type="submit" value="Sign in" /><br />
    </form>
</body>

</html>