<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Upload clip</title>
</head>

<body>
    <p>Please enter A title for your clip. This is what your clip will be known as.<br />When done, please click the
        browse button to find your file and upload it.<br /></p>
    <form>
        <input type="text" name="title" id="title" placeholder="Enter a title for your file" /><br />
        <input type="file" name="clip" id="clip" /><br />
        <input type="submit" value="Upload" /><br />
    </form>
</body>

</html>